target/
.env
**/node_modules/**
dist/
**/node-compile-cache
data/
!data/raw_columns.csv
presharedkey
privatekey
**/.svelte-kit
.svelte-kit
apps/client/.svelte-kit
apps/client/node_modules
**/dist/**

.output
.vercel
.netlify
.wrangler
.svelte-kit
/build
**/build
.pnpm-store

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

config/deployer/kubectl/*
config/deployer/k8s/secrets/*
apps/client/.pnpm-store*
